.title {
    text-align: center;
    margin-top: 2rem;
    /* color: #1c0099; */
    color: blue;
}

.backgroundButton{
    /* background-color: #1c0099; */
    background-color: blue;
    color: white;
}

.backgroundButton:hover{
    border: 1px solid blue;
    background-color: white;
    color: blue;
}